.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Navbar */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
  }
  
  .logo {
    height: 60px;
    width: 100px;
    border-radius: 60px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 40px;
    padding: 0px;
  }
  
  .navLink {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #4CAF50;
  }
  
  /* Header */
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  /* Main Layout Grid */
  .content {
    
    padding: 40px 30px;
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    box-sizing: border-box;
    flex: 1;
  }
  
  /* Details Section */
  .infoSection h2 {
    color: #4CAF50;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .infoBlock {
    margin-bottom: 25px;
  }
  
  .infoBlock h4 {
    margin: 0 0 5px 0;
    color: #555;
    font-size: 1.1rem;
  }
  
  .infoBlock p {
    margin: 0;
    line-height: 1.5;
  }
  
  /* Form Section */
  .formSection h2 {
    color: #4CAF50;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #060606;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background: #f2f2f2;
    color: #000;
  }
  
  .submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
  }
  
  .submitBtn:hover {
    background-color: #45a049;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  /* Responsive adjustment */
  @media (max-width: 768px) {
    .content {
      grid-template-columns: 1fr;
    }
  }
  