.container {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
  min-h-screen: 100vh;
}

/* Navbar container */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}

/* Logo styling */
.logo {
  height: 60px;
  width: 100px;
  border-radius: 60px;
}

/* Navbar links container */
.navList {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 40px;
  padding: 0px;
}

.navLink {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navLink:hover {
  color: #4CAF50;
}

/* Header Banner */
.header {
  background-image: url('/bgimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  color: white;
  text-align: left;
  padding: 2rem;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
}

/* Content Area */
.content {
  padding: 30px;
  text-align: center;
}

/* Call to Action Button */
.cta {
  background-color: #FFD700;
  color: #333;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  border: none;
}

.cta:hover {
  background-color: #e6c200;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
